.App {
  text-align: center;
  /* display: flex; */
}

.profile-pic{
  height: 300px;
  width:300px;
  object-fit: cover;
  border-radius:50%;
}

.profile-pic:hover{
  transform: scale(1.2);
  transition: 0.5s;
}